.page {
  min-height: 100svh;
  padding: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main h1 {
  padding: 6px;
  font-weight: 400;
  text-align: center;
  border-radius: 16px;
  vertical-align: middle;
  font-size: var(--text-size-xl, 40px);
  color: var(--text-secondary-color, #fff);
  background: var(--background-secondary-color, #777);
}

.cart {
  align-self: center;
}

@media (min-width: 1023px) {
  .page {
    padding: 50px 250px;
  }
  
  .main h1 {
    padding: 16px;
    font-size: var(--text-size-xxl, 96px);
  }
}
