.ReviewList {
  display: grid;
  gap: 16px;
  grid-auto-flow: row;
}

@media (min-width: 1023px) {
  .ReviewList {
    gap: 32px;
    height: 468px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
