.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 26px;
  border-radius: var(--border-radius-l, 16px);
  background-color: var(--background-card-color, #d9d9d9);

  min-height: 560px;
  width: 332px;
}
@media (min-width: 1023px) {
  .ProductCard {
    min-height: 720px;
  }
}

.title {
  font-size: var(--text-size-l);
}
.description {
  flex: auto;
}
.price {
  font-size: var(--text-size-l);
}
